.input-field {
  width: 739px;
  height: 45px;
  left: 92px;
  top: 151px;

  /* White 1 */

  background: #fafafc;
  /* Border */

  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-regist {
  background: #fafafc;
}
.phone-flags {
  width: 300px;
}
